.header{
    background-color: rgba(245, 245, 245, 0.5);
    padding: 5px;
    margin-top: 10px;
    width: 200px;
}
.contact-header{
    background-color: rgba(245, 245, 245, 0.5);
    padding: 5px;
    margin-top: 10px;
    width: 500px;
}
.portfolio-header{
    background-color: rgba(245, 245, 245, 0.5);
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}

.about{
    background-color: rgba(245, 245, 245, 0.5);
    padding: 5px;
}
.transparent{
    background-color: rgba(245, 245, 245, 0.5);
}